<%= javascript_pack_tag "header.js" %>
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container-fluid">
    <p class="navbar-brand text-light">技術試験</p>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'お知らせ', articles_path, class: "nav-link active text-light" %>
        </li>
        <li class="nav-item">
          <%= link_to '社員紹介', employees_path, class: "nav-link active text-light" %>
        </li>
      </ul>
      <button class='dropdown__btn text-light' id='dropdown__btn'>
        <%= "#{@current_user.last_name} #{@current_user.first_name}" %>
      </button>
    </div>
  </div>
</nav>
<div id='dropdown_menu'>
  <div class='right_menu'>
    <div class='dropdown_items'>
      <ul>
        <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
      </ul>
    </div>
  </div>
</div>
